body{
    margin: 0px;
    top: 0px;
}

.section1{
    background-image: url(./Imagens/photo-1591955506264-3f5a6834570a.avif);
    width: 100%;
    height:50vh;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: 100% 450px;
    
}

.section1 h1{
    color: black;
    font-size: 60px;
    padding-top: 90px;
    padding-left: 23%;
}
.section2div1 {
    width: 450px;
    height: 550px;
    padding-top: 80px;
    padding-left: 140px;
}
.section2div2 {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
}





