footer{
    background-color: black;
    color: white;
    text-decoration: none;
    height: 360px;
    padding: 10px;
    align-items: center;
    line-height: 2;
    text-align: left;
    border-top:3px solid rgb(160, 25, 25);
}
#footer_p{
    display: flex;
    justify-content: space-between;
}
#footer_container{
    display: flex;
    justify-content: space-between; /* Distribute space between items */
    list-style: none; /* Remove default list styles */
}
#footer_container li{
    flex: 1;
    text-align: left;
    box-sizing: border-box;
    
}
/* geral colocation*/
#right{
    padding: 5px;
}
#left{
    padding: 5px;

}