body{
    margin: 0px;
    top: 0px;
}
header{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: inline-flex;
    background-color: #494454;
    height: 12vh;
    top: 0px;
    background-image: url(./Imagens/logo_projeto_final.png);
    background-repeat: no-repeat;
    background-position: 250px 20px;
}
header ul li{
    display: inline;
    color: black;
    font-size: 17px;
    position: relative;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease-in;
}
header ul li:hover{
    background-color: #AEA8BA;
    transition: background-color 0.3s ease-in;
}
header a{
    text-decoration: none;
    color: inherit;
}
.Apresentation{
    align-items: left   ;
    width: 100%;
    height: 100vh;
    padding-top: 1px;
    background-image: url(./Imagens/first\ wallpaper.jpg);
    background-size: 100% 101vh;
    background-repeat: no-repeat;
}
.Explaining{
    align-items: left   ;
    background-color: aqua;
    width: 100%;
    padding-top: 1px;
}
