body {
  margin: 0px;
  top: 0px;
  max-width: 100%;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
}
h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 125%;
}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 111%;
}
p, h3, h4, h5, h6, a{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.Apresentation {
  align-items: left;
  width: 100%;
  height: 102vh;
  background-image: url(./Imagens/first\ wallpaper.jpg);
  background-size: 100% 102.5vh;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  transition: background-color 0.3s ease-in;
  margin-top: -100px;
  color: #8fffe3;
}
.Apresentation h1,.Apresentation h2, .Apresentation p{
  padding-left: 10%;
}
.Apresentation a:hover {
  background-color: #627181;
  transition: background-color 0.3s ease-in;
}

.Apresentation a {
  text-decoration: none;
  color: inherit;
  padding: 3px;
  border-radius: 5px;
  background-color: #2b5063;
  
}
.Apresentation h1,h2,p{
  color: white;
}
.explaining {
  background-color: #2b5063;
  padding: 2rem;
}

.explaining h1 {
  color: #8fffe3;
}
.explaining h2, .explaining h3{
color: #8fffe3;
}
.explaining p, .explaining h4, .explaining h5, .explaining h6, .explaining a{
  color: rgb(223, 208, 208);
}


.text {
  max-width: 50%;
  line-height: 200%;
  padding-left: 5%;
}

.explaining img {
  height: 30%;
  width: 30%;
  margin-right: 10%;
  border: 10px solid #8fffe3;
  padding: 0px;
  border-top: 0px;
  border-left: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-left: 20%;
}

/* Geral usage*/
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.getit {
  text-align: center;
  background-color: #c9c9c9;

  width: 100%;
  height: 15%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.getit h1,h2 {
  color: #2b5063;
}

.getit p, h3, h4, h5, h6,a{
  color: rgb(15, 14, 14);

}
.getit a{
  color: inherit;
  color: rgb(15, 14, 14);
}

.exemple {
  background-color: #2b5063;
  padding: 2rem;
  text-align: center;
  padding-right: 5%;
}

.exemple_img {
  height: 30%;
  width: 30%;
  margin-left: 5%;
  border: 10px solid #8fffe3;
  padding: 0px;
  border-top: 0px;
  border-right: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.exemple ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  padding-left: 5%;
}
.exemple h1,h2 {
  color: #8fffe3;
}

.exemple p, h3, h4, h5, h6, a{
  color: rgb(223, 208, 208)
}
.ul_img {
  height: 10%;
  width: 10%;
}

.Clients {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 80%;
  background-color: #020d19b4;
}

.clients-item {
  flex: 1 0 calc(30% - 25px);
  display: flex;
  gap: 0px;

  align-items: center;
}

#client_img {
  height: 22%;
  width: 22%;

}

.image-text {
  flex: 1;
  padding-left: 2%;
  padding-right: 20%;
}

.image-text2 {
  flex: 1;
  padding-left: 25%;
}

.client_text {
  text-align: center;

  padding-top: 1%;
  padding-bottom: 1%;
}
.Clients h1,h2 {
color: #8fffe3;
}

.Clients p, h3, h4, h5, h6, a{
  color: rgb(223, 208, 208)
}
.client_background {
  background-image: url(./Imagens/first\ wallpaper.jpg);
  background-repeat: no-repeat;
}

.business {
  background-color: #2b5063;
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-width: 100%;
}
.business h1,h2 {
  color: #8fffe3;
}

.business p, h3, h4, h5, h6, a{
  color: rgb(223, 208, 208)
}
.image-list {
  list-style: none;
  padding: 0;
  display: flex;
  max-width: 80%;
}

.image-list li {
  flex: 0.9;
  margin: 1%;
}

.image-list img {
  width: 100%;
  height: auto;
}

.container2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.text_businees {
  text-align: center;

}

.numbers {
  list-style: none;
  padding: 0;
  display: flex;
  max-width: 100%;
  justify-content: center;
}

.numbers li {
  margin: 0 50%;
  text-align: center;
}

.numbers h1 {
  margin: 1% 0;
}

.numbers h3 {
  margin: 1% 0;
}

.numberscontainer {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

@media only screen and (max-width: 768px) {
  .gallery-item {
    flex: 1 0 100%;
  }

  .image-text {
    padding: 0;
  }
}