body{
    margin: 0px;
    top: 0px;
}
.Apresentation{
    align-items: left   ;
    width: 100%;
    height: 110vh;
    padding-top: 1px;
    background-image: url(./Imagens/first\ wallpaper.jpg);
    background-size: 100% 111vh;
    background-repeat: no-repeat;
    color: rgb(107, 9, 9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    transition: background-color 0.3s ease-in;
    margin-top: -90px;
}
.Apresentation a:hover{
    background-color: #AEA8BA;
    transition: background-color 0.3s ease-in;
}
.Apresentation h1{
    padding-left: 50px;
    font-size: 30px;
}
.Apresentation p{
    padding-left: 50px;
    font-size: 20px;
}
.Apresentation a{
    text-decoration: none;
    color: inherit;
    padding: 3px;
    border-radius: 5px;
}


.explaining {
    background-color: #b16565;
    padding: 2rem;

}
.text{
    padding-left: 10%;
    max-width: 50%;
    line-height: 400%;
}
.explaining img{
    height: 30%;
    width: 30%;
    margin-right: 10%;
    margin-top: 3%;
    border: 5px orangered solid;
}
/* Geral usage*/
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}